---

---

<div class="cardcontainer">
  <div class="card">
    <h3>lorem</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet
      accusantium laboriosam aliquid tempore adipisci dolorum, labore asperiores
      vero quisquam velit dicta numquam, doloremque illo! Eos.
    </p>
  </div>
</div>

<style>
  @font-face {
    font-family: "FunkyFont";
    src: url("./funky.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  h1,
  h2,
  h3 {
    font-family: "FunkyFont", sans-serif;
    color: #ffffff;
  }

  .card {
    background-color: #4559b2;
    max-width: 45ch;
    color: #ffffff;
    border-radius: 28px;
    margin: 30px;
    padding: 40px;
    line-height: 30px;
    color: #ffffff;
  }

  .cardcontainer {
    display: flex;
    align-items: center;
  }

  p {
    font-family: "tiltwarp";
  }
</style>
