---
const options = [
  { amount: "125 kr", selected: false },
  { amount: "450 kr", selected: true },
  { amount: "1000 kr", selected: false },
  { label: "VALGFRIT BELØB", selected: false },
];
---

<div class="donation-selector">
  {
    options.map((option) => (
      <div class={`option ${option.selected ? "selected" : ""}`}>
        {option.amount || option.label}
      </div>
    ))
  }
</div>

<style>
  .donation-selector {
    display: flex;
    border-radius: 50px;
    overflow: hidden;
    background-color: #bac1dd;
    color: white;
    font-family: tiltwarp;
    font-weight: bolder;
    margin: 25px 5px;
    min-width: 300px;
  }

  .option {
    padding: 8px 15px;
    text-align: center;
    flex: 1;
    cursor: pointer;
  }

  .option.selected {
    background-color: #ff97d6;
  }

  .option:hover:not(.selected) {
    background-color: rgba(255, 255, 255, 0.2);
  }
</style>
