* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ebeefb;
  color: white;
}

@font-face {
  font-family: "FunkyFont";
  src: url("./funky.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tiltwarp";
  src: url("./tiltwarp.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: "tiltwarp";
  max-width: 400px;
  padding: 10px;
}

h1,
h3 {
  font-family: "FunkyFont";
  line-height: 50px;
}

@media (min-width: 800px) {
  .card1 {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em; */
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 10px;
    justify-content: center;
  }
  .card2 {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em; */
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 10px;
    justify-content: center;
  }
  .michael {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em; */
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 10px;
    justify-content: center;
  }
}

@media (max-width: 800px) {
  .card1 {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em; */
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 10px;
  }
  .card2 {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em; */
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 10px;
  }
  .card2 {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em; */
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 10px;
  }
  .michael {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em; */
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 10px;
  }
}

.donation {
  display: flex;
  justify-content: center;
}

img {
  max-width: 60%;
}

video {
  border-radius: 10px;
  height: 300px;
  width: 100%;
  margin: 20px auto;
}
