---
import Card1 from "./Card1.astro";
import Card2 from "./Card2.astro";
import Button from "./Button.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import Donation from "./Donation.astro";
import "./global.css";
import { imageConfig } from "astro:assets";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="stylesheet" href="global.css" />
  </head>
  <body>
    <Header />
    <div class="hero">
      <h1>HJERTE <br />MAGIKERNE</h1>
      <p>
        Lorema ipsum dolor sit, amet consectetur adipisicing elit. Laudantium
        ab, expedita quo soluta iure nulla!
      </p>
      <Button text="SE MERE" />
    </div>
    <section class="card2">
      <Card1
        header="Mit Header"
        text="Dette er noget beskrivende tekst for kortet."
      >
        <img src="./img/kort.svg" alt="Billede beskrivelse" />
      </Card1>
      <Card1
        header="Mit Header"
        text="Dette er noget beskrivende tekst for kortet."
      >
        <img id="trylle" src="./img/tryllestav.svg" alt="Billede beskrivelse" />
      </Card1>
    </section>
    <section class="donation">
      <Donation />
      <Button text="STØT NU">
        <img src="./img/hjertelogo.svg" alt="Lille hjerte" />
      </Button>
    </section>

    <section class="card1">
      <Card2
        header="Mit Header"
        text="Dette er noget beskrivende tekst for kortet."
      >
        <img src="./img/gul.svg" alt="Billede beskrivelse" />
      </Card2>
      <Card2
        header="Mit Header"
        text="Dette er noget beskrivende tekst for kortet."
      >
        <img src="./img/kort.svg" alt="Billede beskrivelse" />
      </Card2>
      <Card2
        header="Mit Header"
        text="Dette er noget beskrivende tekst for kortet."
      >
        <img src="./img/pink.svg" alt="Billede beskrivelse" />
      </Card2>
    </section>

    <Footer />
  </body>
</html>
